@font-face {
  font-family: 'inter-var';
  src: local('Inter');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'inter-var';
  src: local('Inter Italic');
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'noto-var';
  src: local('Noto Sans JP'), local('Noto Sans CJK JP');
  font-display: swap;
}

@layer theme, reset, base, component, override;

@layer theme {
  :root {
    --color-bg: light-dark(#e9f5ff, #0e1c27);
    --color-main: Canvas;
    --color-text: CanvasText;
  }
}

@layer reset {
  *,
  ::before,
  ::after,
  ::backdrop {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
    font: unset;
    border: unset;
    background: unset;
  }

  input,
  button {
    appearance: none;
  }
}

@layer base {
  :root {
    color-scheme: light dark;
    font-family: 'inter-var', 'Arial', 'noto-var', sans-serif;
    text-autospace: normal;
    text-spacing-trim: trim-start;
    line-break: strict;
    word-break: normal;
    overflow-wrap: anywhere;
  }

  body {
    display: flow-root;
    background-color: var(--color-bg);
  }
}
